
.env
.env.local
.env.*.local


.firebase/
.firebaserc
idx/
.cache/

dist/
build/
.next/
out/
functions/lib/
public/**/*.map

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.DS_Store


.vscode/
.idea/
*.swp


Thumbs.db
.DS_Store

logs/
*.log
